body {
	font-family: "Helvetica","Arial","Sans";
	width: 970px;
}

div#stats {
	width: 946px;
	border: 2px;
	border-color: gray;
	border-style: solid;
	padding: 10px;
	margin: 6px 0 6px 0;
}

div#stats div {
	width: 316px;
	display: table-cell;
}

#hr {
	text-align: left;
}

#spO2 {
	text-align: center;
}

#batt {
	text-align: right;
}

#placeholder	{ 
	background-color: white;
	width: 970px;
	height: 200px;
}

div#stats span {
	font-size: 24pt;
	color: rgb(0,160,255);
	font-family: "Helvetica","Arial","Sans";
}

span.label {
	padding-right: 10px;
	font-style: italic;
	font-weight: bold;
}

#caveats {
	font-size: 24pt;
	color: rgb(100,100,100);
	font-style: italic;
	font-weight: bold;
	padding-top: 10px;
}

#buttons {
	width: 970px;
}

#buttons div {
	display: table-cell;
	width: 150px;
	background-color: rgb(100,100,100);
	border: 2px;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	border-style: solid;
	color: white;
	cursor: pointer;
}
